<a href="https://colab.research.google.com/github/MH-Tuhin83/G-Colab-AML/blob/main/Copy_of_CMP7239_Lab1_Python_Examples_and_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Procedural Python
# CMP7239
# Dr.Mohamed Ihmeida
# Session and LAB 1

# Learning Objectives


*  Discuss Procedural Programming.
*  Implement Conditional Statment and loops.
*  Define and use Function and Data structure

# Make sure to save your work and submit it to the submission point on Week 1. Let's start coding!

## Introduction
This notebook covers fundamental Python programming concepts for intermediate-level learners.

 We will cover Conditional Statements, Loops, Functions, Built-in Functions, Data Structures (Lists, Dictionaries), with multiple examples and tutorials after each concept.

In [ ]:
# Welcome to Python Programming

# print hello message for COM7075 students

Exercise:

Write a Python program that prints your name.

In [ ]:
print("My name is M.H.Tuhin")

My name is M.H.Tuhin

# Variables & Data Types


*   Variables: Naming rules
*   Data Types: int, float, str, bool, list, tuple, dict

In [ ]:
# Example

name = "Alice"
age = 25
height = 5.7
is_student = True

Exercise:

Declare variables for your name, age, and a boolean for student status

In [ ]:
name = "Md Mahmudul Hasan Tuhin"
age =28
is_student=True

print("Name:",name)
print("Age:",age)
print("Student:",is_student)

Name: Md Mahmudul Hasan Tuhin
Age: 28
Student: True

# Basic Input & Output

*   input() function
*   Formatting output

In [ ]:
# Example

name = input("Enter your name: ")
print(f"Hello, {name}!")

Enter your name: Mohamed
Hello, Mohamed!

In [ ]:
age = input("Enter Your Age:")
print(f"You Are {age} Years Old.")

Enter Your Age:28
You Are 28 Years Old.

Exercise:

Write a program that asks for the user’s age and prints a response.

# Operators in Python

* Arithmetic (+, -, *, /, %, **)

* Comparison (==, !=, >, <, >=, <=)

* Logical (and, or, not)

In [ ]:
# Example
x = 10
y = 5
print(x + y, x > y, x != y)

15 True True

Exercise:

Create a program that takes two numbers and prints their sum and comparison results

In [1]:
x = int(input("Enter First Number:"))
y = int(input("Enter Second Number:"))

print("sum:", x + y)
print("x > y:", x > y)
print("x != y:", x != y)

Enter First Number:5
Enter Second Number:3
sum: 8
x > y: True
x != y: True

## Conditional Statements (if, elif, else)
Conditional statements allow you to execute different blocks of code based on specific conditions. The most commonly used conditional statements are `if`, `elif`, and `else`.

In [ ]:

# Example 1: Age Group Classification
age = 20

if age >= 18:
    print("You are an adult.")
elif age >= 13:
    print("You are a teenager.")
else:
    print("You are a child.")

In [ ]:
# Example 2
num = int(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

### Exercise 1: Grade Classification
Write a program that takes a student's grade and prints whether they have passed, failed, or received a distinction. Consider the following thresholds:
- Distinction: grade >= 80
- Pass: grade >= 50
- Fail: grade < 50

Exercise *2*:

Write a program that checks if a number is even or odd

In [4]:
grade = int(input("Enter Your Grade:"))

if grade >=80:
  print("Distinction")
elif grade >=50:
  print("Pass")
else:
  print("Fail")

Enter Your Grade:55
Pass

## Loops (for, while)
Loops allow you to execute a block of code multiple times. Python provides two types of loops: `for` loops and `while` loops.

In [ ]:

# Example of `for` loop
for i in range(5):
    print(f"Iteration {i}")

In [ ]:

# Example of Sum of Numbers using `for` loop
numbers = [5, 10, 15, 20]
total = 0
for num in numbers:
    total += num
print(f"The sum of the numbers is: {total}")

Exercise:

Write a program that prints numbers from 1 to 10 using a loop

## Functions (with return statements affecting control flow)

Functions are reusable blocks of code that perform specific tasks.

The `return` statement is used to return a result from the function, and it affects control flow by ending the function’s execution and passing the result back.

In [ ]:
# Example

def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

In [ ]:

# Example of Function with return
def square(num):
    return num ** 2

result = square(4)
print(f"The square of 4 is {result}")

Exercise:

Write a function that takes two numbers and returns their sum.

 # Lists and Tuples

* `List` operations: append(), remove(), slicing

* `Tuple`: Immutable sequences

In [ ]:
# Example
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

Exercise:

Create a list of five favorite movies and print the second one.

# Dictionaries

* Key-value pairs

* Adding & retrieving values

In [ ]:
# Example
student = {"name": "Alice", "age": 22, "grade": "A"}
print(student["age"])

22

Exercise:

Create a dictionary for a book with title, author, and year.

## Built-in Functions
Python provides several built-in functions that can be used to perform common operations, such as manipulating data, transforming values, and handling user input.

### `input()` Function
The `input()` function allows you to take input from the user during runtime. The input is returned as a string.

In [ ]:

# Example: Using `input()` function
name = input("Enter your name: ")
print(f"Hello, {name}!")

### Exercise: Taking User Input for Age
Write a program that asks the user for their age and prints whether they are eligible to vote (18 or older).

In [ ]:

# Your code here

### More Built-in Functions

In [ ]:

# Example: Using `len()` function to find the length of a string
text = "Hello, world!"
length = len(text)
print(f"The length of the text is: {length}")

In [ ]:

# Example: Using `max()` and `min()` to find the largest and smallest in a list
numbers = [5, 3, 9, 1, 7]
max_value = max(numbers)
min_value = min(numbers)
print(f"The maximum value is: {max_value}")
print(f"The minimum value is: {min_value}")

In [ ]:

# Example: Using `sum()` function to find the sum of a list
numbers = [10, 20, 30, 40]
total_sum = sum(numbers)
print(f"The sum of the numbers is: {total_sum}")

In [ ]:

# Example: Using `abs()` function to find the absolute value of a number
num = -10
absolute_value = abs(num)
print(f"The absolute value of {num} is {absolute_value}")

## Data Structures: Lists and Dictionaries
Python provides built-in data structures such as lists and dictionaries that are essential for storing and manipulating data.

In [ ]:

# Example: Using Lists
fruits = ["apple", "banana", "cherry"]
print(f"The first fruit is {fruits[0]}")
fruits.append("orange")
print(f"Updated list: {fruits}")

The first fruit is apple
Updated list: ['apple', 'banana', 'cherry', 'orange']

In [ ]:

# Example: Using Dictionaries
student = {"name": "John", "age": 21, "course": "Computer Science"}
print(f"Student name: {student['name']}")
student["age"] = 22  # Update age
print(f"Updated student: {student}")

In [ ]:

# Example: List Operations
numbers = [1, 2, 3, 4, 5]
print(f"First three numbers: {numbers[:3]}")
for num in numbers:
    print(f"Number: {num}")

In [ ]:

# Example: Nested List
students = [["John", 21], ["Alice", 22], ["Bob", 20]]
print(f"First student: {students[0]}")

In [ ]:

# Example: Nested Dictionary
students_info = {
    "John": {"age": 21, "course": "Computer Science"},
    "Alice": {"age": 22, "course": "Engineering"}
}
print(f"John's course: {students_info['John']['course']}")

## Class Challenge: Create a Program

### Task: Create a Program that:
1. Takes the user's age and prints whether they are eligible to vote.
2. Takes user input of 3 numbers, stores them in a list, and uses built-in functions like `max()`, `min()`, and `sum()` to display the results.

In [ ]:

# Your code here

### Exercise: Maximum of Three Numbers
Write a function that takes three numbers as input and returns the largest number.